<form action="login" method="post">
    <input type="text" name="login" placeholder="Введите логин">
    <input type="password" name="pass" placeholder="Введите пароль">
    <input type="checkbox" name="remember"> Запомнить
    <button type="submit">Вход</button>
</form>

<br><br>

<p>Список пользователей с паролями для упрощения:</p>

admin => 123 <br>
manager => 777 <br>
ivan => ivan123 <br>
alex => alex123 <br>
elena => elena123